# =========================
# Node modules & build
# =========================
node_modules/
dist/
build/

# =========================
# Yarn Berry / PnP
# =========================
.yarn/unplugged/
.yarn/install-state.gz
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.pnp.js

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# =========================
# Environment files
# =========================
.env
.env.local
.env.*.local

# =========================
# VSCode personal settings
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary / cache
# =========================
*.tmp
*.temp
*.swp
*.swo
./localstack/
localstack-data

# =========================
# Optional: Ignore backend/uploads if any
# =========================
uploads/
